@import "../../../submodules/common/resources/styling/scss/partials/tool-variables";
@import "../../../submodules/common/resources/styling/scss/partials/tool-reset"; // width tool  1120px -  mq 1200px 100% - 40px
@import "../../../submodules/common/resources/styling/scss/partials/tool-base"; // width tool  1120px -  mq 1200px 100% - 40px
@import "../../../submodules/common/resources/styling/scss/partials/tool-form-elements"; // form elements input select checkbox
@import "../../../submodules/common/resources/styling/scss/partials/tool-buttons"; // used buttons in the tools
@import "../../../submodules/common/resources/styling/scss/partials/tool-box"; // intro tool - colored box
@import "../../../submodules/common/resources/styling/scss/partials/tool-elements"; // main elements used in a tool
@import "../../../submodules/common/resources/styling/scss/partials/tool-results-wrapper"; // results elements used in a tool after calculation
@import "../../../submodules/common/resources/styling/scss/partials/tool-result-table"; // result table
@import "../../../submodules/venb/resources/styling/scss/tool-venb"; // specific styling for venb
@import "../../../submodules/gramformule/resources/styling/scss/gramformula";


.tool {
  input[type="checkbox"],
  input[type="radio"] {
    position: relative;
    top: 8px;
    height: 20px;
    + label {
      width: auto;
    }
  }

  div#gewoneAanslagen {
    display: flex;
  }

  /*
  ----------------------
  custom to tool
  ----------------------
  */
  .table-total {
    h3 {
      margin: 0;
    }
  }

  .geen-vermeerdering-indien {
    margin-top: 40px;
  }

  td.no-border {
    border: none;
  }

  table.highlight {
    margin: 40px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    @media only screen and (max-width: 860px) {
      td {
        &.result-row__total.no-border {
          text-align: right;
        }
      }
    }

    h3 {
      margin: 10px 20px 10px 0;
    }
    .total {
      padding-right: 0;
    }
  }

  // verrekenbare-voorheffing-totaal
  table.verrekenbare-voorheffing-totaal {
    width: 100%;
    td {
      &.no-border {
        border: none;
        &:before {
          display: none;
        }
      }
    }
  }

  /*  .verrekenbare-voorheffing-totaal {
      margin-bottom: 40px;
  }*/

  select#aantalkwartalen {
    width: 80px;
    background: $practinet-c-white;
    height: 36px;
    line-height: 36px;
  }

  /*
  ----------------------
  errors
  ----------------------
  */
  .venb {
    .errors {
      position: relative;
      top: -10px;
      text-align: right;
      width: 770px;
      padding: 0;
      margin: 0;

      .error-item {
        &:before {
          display: none;
        }
      }

      @media only screen and (max-width: 860px) {
        width: calc(100% - 65px);
        margin-left: 65px;
        text-align: left;
        top: -5px;
      }

      &:before {
        display: none;
      }
    }
  }
  /*
  ----------------------
   button erase float right in tool
  ----------------------
  */
  .venb {
    .btn--erase {
      float: right;
      @media only screen and (max-width: 520px) {
        width: auto;
      }
    }
  }


  /*
  ----------------------
  venb mobile styles
  ----------------------
  */
  // labels mobile
  .venb {
    .tool-row {
      flex-wrap: wrap;
      @media only screen and (max-width: 860px) {

        .tool-row__label {
          width: 100%;
          font-weight: 500;
          margin-bottom: 15px;
          line-height: 1.45;
        }
        .tool-row__code {
          text-align: left;
          margin-right: 5px;
          white-space: nowrap;
        }
        .tool-row__input-text {
          width: calc(100% - 65px);
        }
      }
    }
  }
}


















