<template>
    <div class="row">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Wachtwoord Wijzigen</h1></div>
                <div class="panel-body">
                    <div v-if="errorMessage" class="alert alert-danger" v-html="errorMessage"></div>
                    <form class="form-horizontal" @submit="updatePassword">
                        <div class="form-group">
                            <div :class="errors.passwordOld ? 'error' : ''">
                                <label for="passwordOld" class="">Oud wachtwoord</label>
                                <input id="passwordOld" type="password" v-model="input.passwordOld" class="form-control" name="passwordOld" required>
                                <validation :errors="errors.passwordOld" v-if="errors.passwordOld"></validation>
                            </div>
                        </div>
                        <div class="form-group">
                            <div :class="errors.password ? 'error' : ''">
                                <label for="password" class="">Nieuw Wachtwoord</label>
                                <input id="password" type="password" v-model="input.password" class="form-control" name="password" required>
                                <validation :errors="errors.password" v-if="errors.password"></validation>
                            </div>
                        </div>
                        <div class="form-group">
                            <div :class="errors.passwordConfirmed ? 'error' : ''">
                                <label for="passwordConfirmed" class="">Nieuw Wachtwoord Bevestigen</label>
                                <input id="passwordConfirmed" type="password" v-model="input.passwordConfirmed" class="form-control" name="passwordConfirmed" required>
                                <validation :errors="errors.passwordConfirmed" v-if="errors.passwordConfirmed"></validation>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="login">
                                <button @click="updatePassword" class="btn btn-primary" ref="resetBtn" id="update-password-btn">
                                    Verander Wachtwoord
                                </button>
                            </div>
                        </div>
                        <div class="success" v-if="message" v-html="message"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Validation from '../common/resources/js/components/ValidationComponent';

    export default {
        name: 'change-password',
        data() {
            return {
                errorMessage: null,
                errors: {},
                message: '',
                input: {
                    password: '',
                    passwordConfirmed: '',
                    passwordOld: '',
                }
            };
        },
        methods: {
            updatePassword() {
                this.errors = {};
                this.errorMessage = null;
                this.$refs.resetBtn.disabled = true;

                this.$http.post('/update-password', this.input)
                    .then(({data}) => {
                        this.message = data.message
                    }).catch(({response}) => {
                        if (response.status === 422) {
                            this.errors = response.data.data;
                            this.errorMessage = response.data.message;
                        }
                    }).finally(() => {
                        this.$refs.resetBtn.disabled = false;
                    });
            },
        },
        components: {
            Validation
        }
    };
</script>

<style scoped>

</style>
