<template>
    <div class="row">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Aanmelden</h1></div>
                <div class="panel-body">
                    <div v-if="errormessage" class="alert alert-danger">
                        {{ errormessage }}
                    </div>
                    <form class="form-horizontal" @submit="login">
                        <div class="form-group">
                            <label for="email" class="">E-mailadres</label>
                            <div :class="error.email ? 'alert alert-danger' : ''">
                                <input  id="email" type="email" v-model="email" class="form-control" name="email" required autofocus>
                                <validation :errors="error.email" v-if="error.email"></validation>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Wachtwoord</label>
                            <div :class="error.password ? 'alert alert-danger' : ''">
                                <input id="password" type="password" v-model="password" class="form-control" name="password" required>
                                <validation :errors="error.password" v-if="error.password"></validation>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="login">
                                <button @click="login" class="btn btn-primary" id="login-btn">
                                    Aanmelden
                                </button>
                                <router-link id="forgot-password" :to="{ name: 'send-reset' }" class="btn btn-link">
                                    Wachtwoord vergeten?
                                </router-link>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Validation from "../common/resources/js/components/ValidationComponent";

    export default {
        name: 'login',
        components: {Validation},
        data() {
            return {
                email: '',
                password: '',
                error: {},
                errormessage : null,
            };
        },
        props: {
            endpoint: {
                type: String,
                default: '/token'
            }
        },
        methods: {
            login(event) {
                event.preventDefault();

                this.$http.post(this.endpoint, {
                    email: this.email,
                    password: this.password
                })
                    .then((response) => {
                        const token = response.data.token;
                        this.$http.defaults.headers.common.Authorization = token;
                        localStorage.setItem('token', token);
                        this.error = {};
                        this.errormessage = null;
                        this.$bus.$emit('auth');
                        if (this.$router.history.length === 0) {
                            this.$router.push({name: 'root'});
                        } else {
                            this.$router.go(-1);
                        }
                    }).catch(({response}) => {
                        if (response !== undefined && response.status === 422) {
                            this.error = response.data.data;
                            this.errormessage = response.data.message;
                        }
                    });
            }
        }
    };
</script>
