<template>
    <div class="row">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Wachtwoord Wijzigen</h1></div>
                <div class="panel-body">
                    <div v-if="errorMessage" class="alert alert-danger" v-html="errorMessage"></div>
                    <form class="form-horizontal" @submit="resetPassword">
                        <div class="form-group">
                            <div :class="errors.password ? 'error' : ''">
                                <label for="password" class="">Nieuw Wachtwoord</label>
                                <input id="password" type="password" v-model="input.password" class="form-control" name="password" required>
                                <validation :errors="errors.password" v-if="errors.password"></validation>
                            </div>
                        </div>
                        <div class="form-group">
                            <div :class="errors.passwordConfirmed ? 'error' : ''">
                                <label for="password_confirmed" class="">Nieuw Wachtwoord Bevestigen</label>
                                <input id="password_confirmed" type="password" name='passwordConfirmed' v-model="input.passwordConfirmed"
                                       class="form-control" required>
                                <validation :errors="errors.passwordConfirmed" v-if="errors.passwordConfirmed"></validation>
                            </div>
                        </div>
                        <validation :errors="errors.resetToken" v-if="errors.resetToken"></validation>
                        <div class="form-group">
                            <div class="login">
                                <button @click="resetPassword" class="btn btn-primary" ref="resetBtn" id="reset-btn">
                                    Verander Wachtwoord
                                </button>
                            </div>
                        </div>
                        <div class="success" v-if="message" v-html="message"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Validation from '../common/resources/js/components/ValidationComponent';

    export default {
        name: 'reset-password',
        data() {
            return {
                input: {
                    password: '',
                    passwordConfirmed: ''
                },
                message: '',
                errors: {},
                errorMessage: null,
            }
        },
        props: ['resetToken'],
        methods: {
            resetPassword(){
                this.errors = {};
                this.errorMessage = null;
                this.$refs.resetBtn.disabled = true;
                this.$http.post('change-password', {
                    ...this.input,
                    resetToken: this.resetToken
                })
                    .then(({data}) => this.message = data.message)
                    .catch(({response}) => {
                        if (response.status === 422) {
                            this.errors = response.data.data;
                            this.errorMessage = response.data.message;
                        }
                    })
                    .finally(() => {
                        this.$refs.resetBtn.disabled = false;
                    });
            }
        },
        components: {
            Validation
        }
    };
</script>

<style scoped>

</style>
