<template>
    <div class="row">
        <div class="login">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>Wachtwoord Opnieuw Instellen</h1></div>
                <div class="panel-body">
                    <div v-if="errorMessage" class="alert alert-danger" v-html="errorMessage">
                    </div>
                    <form class="form-horizontal" @submit="sendReset">
                        <div class="form-group" :class="errors.email ? 'error' : ''">
                            <label for="email" class="">Email</label>
                            <input id="email" type="email" v-model="email" class="form-control" name="email" required autofocus>
                            <validation :errors="errors.email" v-if="errors.email"></validation>
                        </div>
                        <div class="form-group">
                            <div class="login">
                                <button type="submit" class="btn btn-primary" id="email-reset-btn">
                                    Email mij een reset link
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="success" v-html="message" v-if="message"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Validation from '../common/resources/js/components/ValidationComponent'

    export default {
        name: 'send-reset',
        data() {
            return {
                errorMessage: null,
                errors: {},
                email: '',
                message: null,
            };
        },
        methods: {
            sendReset(event) {
                event.preventDefault();

                this.errors = {};
                this.errorMessage = null;
                this.message = null;

                const data = {
                    email: this.email,
                };

                this.$http.post('/reset-password', data)
                    .then(({data}) => {
                        this.message = data.message;
                    })
                    .catch(({response}) => {
                        this.errors = response.data.data;
                        this.errorMessage = response.data.message;
                    });
            },
        },
        components: {
            Validation
        }
    };
</script>
