<template>
    <div class="container-fluid">
        <!-- main nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link class="navbar-brand" :to="{name: 'root'}"><img alt="laudis logo" src="./../../../submodules/common/resources/assets/laudis.jpg"/>
            </router-link>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name: 'root'}">Home<span class="sr-only"></span>
                    </router-link>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rekentools
                    </a>
                </li>

                <li class="dropdown-menu" aria-labelledby="navbarDropdown" v-for="calculator in calculators">
                    <router-link class="dropdown-item" :key="calculator.name" :to="{
            name: calculator.name}" v-html="calculator.display">
                    </router-link>
                </li>


                <template v-if="loggedIn">
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'update-password'}">Wachtwoord wijzigen
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'root'}" v-on:click.native="logout">Uitloggen
                        </router-link>
                    </li>
                </template>
                <template v-else>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{name: 'login'}">Inloggen</router-link>
                    </li>
                </template>
            </ul>
            <locale-changer></locale-changer>
        </nav>
        <div class="container-fluid">
            <router-view></router-view>
        </div>
    </div>

</template>

<script>
    import LocaleChanger from '../../../submodules/common/resources/js/components/LocaleChanger';
    import calculators from './../calculator-routes';

    export default {
        name: 'app',
        data() {
            return {
                loggedIn: this.isLoggedIn(),
                calculators: calculators
            };
        },
        created() {
            this.$bus.$on('auth', () => {
                this.loggedIn = this.isLoggedIn()
            })
        },
        methods: {
            logout() {
                localStorage.removeItem('token');
                delete this.$http.defaults.headers.common.Authorization;
                this.$bus.$emit('auth');
                this.loggedIn = false;
            },
            isLoggedIn() {
                const token = this.$http.defaults.headers.common.Authorization;
                return token !== 'undefined' && token !== undefined && token !== null && token !== 'null';
            }
        },
        components: {
            LocaleChanger
        }
    };

</script>

<style lang="scss">

    .container-fluid {
        padding: 0 30px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        align-items: center;
        padding: 25px 0 25px;
        position: relative;
        z-index: 5;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            margin-left: calc((-100vw + 100%) / 2);
            height: 100%;
            width: 100vw;
            z-index: -1;
            box-shadow: 0 5px 5px rgba(150,150,150, 0.05);
            border-bottom: 1px solid #efefef;
        }

        // logo
        .navbar-brand {
            display: inline-block;
            width: 200px;
            height: 39px;
            img {
                width: 100%;
                height: auto;
            }
        }

        // nav
        .navbar-nav {
            display: inline-block;
            margin: 0;
            margin-left: auto;
            padding: 0;
            list-style: none;

            li {
                padding-left: 0;
                list-style: none;
                display: inline-block;
                margin: 0 20px;

                a {
                    text-decoration: none;
                    color: #333333;
                    font-weight: 500;
                    text-transform: none;
                }
            }
        }
    }

    .locale-changer {
        margin-left: 60px;
        .input-group-prepend {
            display: inline-block;
            text-transform: none;
            margin-right: 10px;
            color: #333333;
            font-weight: 500;
        }
    }



</style>
