<template>
    <ul>
        <li v-for="calculator in calculators">
            <router-link :key="calculator.name" :to="{
            name: calculator.name}" v-html="calculator.display">
            </router-link>
        </li>
    </ul>
</template>

<script>
    import calculatorRoutes from './../calculator-routes';

    export default {
        name: 'calculators',
        data() {
            return {
                calculators: calculatorRoutes
            };
        }
    }
</script>
