<template>
    <div>
        <label>
            Aantal bijdrages
            <input type="number" v-model="aantalbijdrages"/>
        </label>
        <form v-for="(value, index) in eigenbijdrageRange">
            <label>
                Bijdrage:
                <input :key="index" :name="index" :value="value" @change="changeValue"/>
            </label>
        </form>
        eigenbijdrages:
        <div v-for="eigenbijdrage in eigenbijdrages">
            {{ eigenbijdrage }}
        </div>
    </div>
</template>
<script>
    export default {
        name : "eigenBijdrage",
        data() {
            return {
                aantalbijdrages: 0,
                eigenbijdrages: []
            }
        },
        computed: {
            eigenbijdrageRange() {
                while(this.aantalbijdrages > this.eigenbijdrages.length) {
                    this.eigenbijdrages.push(0);
                }
                while (this.aantalbijdrages < this.eigenbijdrages.length) {
                    this.eigenbijdrages.pop();
                }
                return this.eigenbijdrages;
            }
        },
        methods: {
            changeValue(event) {
                this.$set(this.eigenbijdrages, event.currentTarget.name, event.currentTarget.value);
            }
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
