<template>
    <form id="ramingtool">

        <h1 id="ramingstooltitel" class="ramingstooltitel">RAMINGSTOOL</h1>

        <h2 id="taxsheltertitel" class="taxsheltertitel">Tax Shelter, liquidatiereserve en
            bezoldigingstekort</h2>

        <table id="meta-invoer table">
            <tr class="topinput">
                <td class="topleftinputtext">
                    <label for="aanslagjaar">aanslagjaar</label>
                </td>
                <td class="topleftinput">

                    <input type="text" id="aanslagjaar" v-model="input.aanslagjaar"
                           :class="errorClassTS(errors.aanslagjaar)">
                    <validation :errors="errors.aanslagjaar"></validation>

                </td>
                <td class="toprightinputtext">
                    <label for="isVerlaagdTarief">Verlaagd tarief (excl. bezoldigingsregel)?</label>
                </td>
                <td class="toprightinput">

                    <input type="checkbox" id="isVerlaagdTarief" v-model="input.isVerlaagdTarief"
                           :class="errorClassTS(errors.isVerlaagdTarief)">
                    <validation :errors="errors.isVerlaagdTarief"></validation>

                </td>
            </tr>
            <tr class="topinput">
                <td class="topleftinputtext">
                    <label for="isContractNa15">Contract van na 1/1/2015?</label>
                </td>
                <td class="topleftinput">

                    <input type="checkbox" id="isContractNa15" v-model="input.isContractNa15"
                           :class="errorClassTS(errors.isContractNa15)">
                    <validation :errors="errors.isContractNa15"></validation>

                </td>
                <td class="toprightinputtext">
                    <label for="isVermeerdering">Vermeedering VA?</label>
                </td>
                <td class="toprightinput">

                    <input id="isVermeerdering" type="checkbox" v-model="input.isVermeerdering"
                           :class="errorClassTS(errors.isVermeerdering)">
                    <validation :errors="errors.isVermeerdering"></validation>

                </td>
            </tr>
            <tr class="topinputleft">
                <td class="topleftinputtext">
                    <label for="maxTaxShelter">Maximale Tax-Shelter?</label>
                </td>
                <td class="topleftinput">

                    <input type="checkbox" id="maxTaxShelter" v-model="input.maxTaxShelter"
                           :class="errorClassTS(errors.maxTaxShelter)">
                    <validation :errors="errors.maxTaxShelter"></validation>

                </td>
                <td colspan="2"></td>
            </tr>
            <tr class="topinputleft">
                <td class="topleftinputtext">
                    <label for="taxShelterInvestering">Tax-shelter Investering</label>
                </td>
                <td class="topleftinput">

                    <input type="text" id="taxShelterInvestering" v-model="input.taxShelterInvestering"
                           :class="errorClassTS(errors.taxShelterInvestering)">
                    <output>this is output</output>
                    <validation :errors="errors.taxShelterInvestering"></validation>

                </td>
                <td class="toprightinputtext">
                    <label for="kwalBedrijsBezoldiging">Kwalificerende bedrijfsleidersbezoldiging</label>
                </td>
                <td class="toprightinput">

                    <input type="text" id="kwalBedrijsBezoldiging" v-model="input.kwalBedrijfsBezoldiging"
                           :class="errorClassTS(errors.kwalBedrijfsBezoldiging)">
                    <validation :errors="errors.kwalBedrijfsBezoldiging"></validation>

                </td>
            </tr>
            <tr class="topinputleft">
                <td class="topleftinputtext">
                    <label for="maxLiqReserve">Maximale liquidatiereserve</label>
                </td>
                <td class="topleftinput">

                    <input id="maxLiqReserve" type="checkbox" v-model="input.maxLiqReserve"
                           :class="errorClassTS(errors.maxLiqReserve)">
                    <validation :errors="errors.maxLiqReserve"></validation>

                </td>
                <td class="toprightinputtext">
                    <label for="isStartendeOndernemingOfErkendeCV">Startende onderneming of erkende CV</label>
                </td>
                <td class="toprightinput">

                    <input id="isStartendeOndernemingOfErkendeCV"
                           type="checkbox" v-model="input.isStartendeOndernemingOfErkendeCV"
                           :class="errorClassTS(errors.isStartendeOndernemingOfErkendeCV)">
                    <validation :errors="errors.isStartendeOndernemingOfErkendeCV"></validation>

                </td>
            </tr>
            <tr class="topinput">
                <td class="topleftinputtext">
                    <label for="liqReserve">Liquidatiereserves (bruto)</label>
                </td>
                <td class="topleftinput">

                    <input id="liqReserve" type="text" v-model="input.liqReserve"
                           :class="errorClassTS(errors.liqReserve)">
                    <validation :errors="errors.liqReserve"></validation>
                    <output>this is output</output>

                </td>
                <td colspan="2"></td>
            </tr>
        </table>

        <table class="header table">
            <tr class="startandendsituatieheader">
                <th colspan="1">Start Situatie</th>
                <th colspan="3">Eindsituatie</th>
            </tr>
            <tr class="textheader">
                <td></td>
                <th>aanslagberekening & belastingen</th>
                <th>1080 PN</th>
                <th>9905</th>
            </tr>
        </table>

        <h2>boekhouding</h2>

        <table class="boekhouding table">
            <tax-shelter-result-row name="winst_voor_belastingen" class="winstvoorbelastingen row" :results="response.winst_voor_belastingen">
                <td>
                    <label for="winstvoorbelastingen">Winst voor belastingen:</label>
                </td>
                <td>
                    <input id="winstvoorbelastingen" type="text" v-model="input.winstVoorBelasting"
                           :class="errorClassTS(errors.winstVoorBelasting)">
                    <validation :errors="errors.winstVoorBelasting"></validation>
                </td>
            </tax-shelter-result-row>

            <tax-shelter-result-row name="dividenden" class="dividenden row" :results="response.dividenden">
                <td>
                    <label for="dividenden">Dividenden:</label>
                </td>
                <td>
                    <input id="dividenden" type="text" v-model="input.dividenden"
                           :class="errorClassTS(errors.dividenden)">
                    <validation :errors="errors.dividenden"></validation>
                </td>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="tantiemes row" :results="response.tantiemes">
                <td>
                    <label for="tantiemes">Tantièmes:</label>
                </td>
                <td>
                    <input id="tantiemes" type="text" v-model="input.tantiemes"
                           :class="errorClassTS(errors.tantiemes)">
                    <validation :errors="errors.tantiemes"></validation>
                </td>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="belastingsvrijereserves row"
                                    :results="response.belastingvrije_reserve_tax_shelter">
                Belasteingvrije reserves:
            </tax-shelter-result-row>
        </table>

        <h2>Andere Fiscale correcties</h2>

        <table class="anderefiscalecorrecties table">
            <tax-shelter-result-row class="vrijstellingtaxshelter row"
                                    :results="response.vrijstelling_tax_shelter">
                vrijstelling Tax-shelter:
            </tax-shelter-result-row>
            <tax-shelter-result-row class="belastereservestaxshelter row"
                                    :results="response.belaste_reserve_tax_shelter">
                Belaste reserve Tax-shelter:
            </tax-shelter-result-row>
            <tax-shelter-result-row class="anderemutatiesreserves row" :results="response.andere_mutaties_reserves">
                <td>
                    <label for="andereMutaties">Andere Mutaties reserves (+aangroei -afnames):</label>
                </td>
                <td>
                    <input id="andereMutaties" type="text" v-model="input.andereMutaties"
                           :class="errorClassTS(errors.andereMutaties)">
                    <validation :errors="errors.andereMutaties"></validation>
                </td>
            </tax-shelter-result-row>
            <tax-shelter-result-row class="verworpenuitgaven row"
                                    :results="response.andere_verworpen_uitgaven_geen_aftrekverbod">
                <label for="andereVerworpenUitgavenGeenAftrek">andere verworpen uitgaven(géén aftrekverbod):</label>
                <input id="andereVerworpenUitgavenGeenAftrek"
                       type="text" v-model="input.andereVerworpenUitgavenGeenAftrek"
                       :class="errorClassTS(errors.andereVerworpenUitgavenGeenAftrek)">
                <validation :errors="errors.andereVerworpenUitgavenGeenAftrek"></validation>
            </tax-shelter-result-row>
            <tax-shelter-result-row class="verworpenuitgavenwelaftrek row"
                                    :results="response.andere_verworpen_uitgaven_geen_aftrekverbod">
                <label for="andereVerworpenUitgavenWelAftrek">Andere verworpen uitgaven (wel aftrek):</label>
                <input type="text" id="andereVerworpenUitgavenWelAftrek"
                       v-model="input.andereVerworpenUitgavenWelAftrek"
                       :class="errorClassTS(errors.andereVerworpenUitgavenWelAftrek)">
                <validation :errors="errors.andereVerworpenUitgavenWelAftrek"></validation>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="aftrekbewerkingen row" :results="response.aftrekbewerkingen">
                <label for="aftrekbewerkingen">
                    aftrekbewerkingen:
                </label>
                <input id="aftrekbewerkingen"
                       type="text" v-model="input.aftrekbewerkingen"
                       :class="errorClassTS(errors.aftrekbewerkingen)">
                <validation :errors="errors.aftrekbewerkingen"></validation>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="aftrekbarebelastingen row"
                                    :results="response.aftrekbewerkingen">
                aftrekbare belastingen:
            </tax-shelter-result-row>

            <tax-shelter-result-row class="bijzondereaanslagophetbezoldigingstekort row"
                                    :results="response.aanslag_bezoldigingstekort">
                Bijzondere aanslag op het bezoldigingstekort
            </tax-shelter-result-row>
        </table>

        <table class="grondslag table">
            <tax-shelter-result-row class="grondslagvenb row"
                                    :results="response.grondslag_venb">
                GRONDSLAG VENB:
            </tax-shelter-result-row>

            <tax-shelter-result-row class="belastingopdegrondslag row"
                                    :results="response.belasting_op_de_grondslag">
                Belasting op de grondslag:
            </tax-shelter-result-row>
            <tax-shelter-result-row class="vermeerderingonvoldoendeva row"
                                    :results="response.vermeerdering_onvoldoende_va">
                Vermeerdering onvoldoende VA:
            </tax-shelter-result-row>
        </table>

        <h2>Niet Aftrekbare Belastingen:</h2>

        <table class="nietaftrekbarebelastingen table">
            <tax-shelter-result-row class="voorafbetaling1ekwartaal row" :results="response.voorafbetaling_1_e_kwartaal">
                <label for="voorafbetalingKwartaal1">
                    vooragbetaling 1e kwartaal
                </label>
                <input id="voorafbetalingKwartaal1"
                       type="text" v-model="input.voorafBetalingKwartaal1"
                       :class="errorClassTS(errors.voorafBetalingKwartaal1)">
                <validation :errors="errors.voorafBetalingKwartaal1"></validation>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="voorafbetaling2ekwartaal row" :results="response.voorafbetaling_2_e_kwartaal">
                <label for="voorafbetalingKwartaal2">
                    vooragbetaling 2e kwartaal
                </label>
                <input id="voorafbetalingKwartaal2"
                       type="text" v-model="input.voorafBetalingKwartaal2"
                       :class="errorClassTS(errors.voorafBetalingKwartaal2)">
                <validation :errors="errors.voorafBetalingKwartaal2"></validation>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="voorafbetaling3ekwartaal row" :results="response.voorafbetaling_3_e_kwartaal">
                <label for="voorafbetalingKwartaal3">
                    vooragbetaling 3e kwartaal
                </label>
                <input id="voorafbetalingKwartaal3"
                       type="text" v-model="input.voorafBetalingKwartaal3"
                       :class="errorClassTS(errors.voorafBetalingKwartaal3)">
                <validation :errors="errors.voorafBetalingKwartaal3"></validation>
            </tax-shelter-result-row>

            <tax-shelter-result-row class="voorafbetaling4ekwartaal row" :results="response.voorafbetaling_4_e_kwartaal">
                <label for="voorafbetalingKwartaal4">
                    vooragbetaling 4e kwartaal
                </label>
                <input id="voorafbetalingKwartaal4"
                       type="text" v-model="input.voorafBetalingKwartaal4"
                       :class="errorClassTS(errors.voorafBetalingKwartaal4)">
                <validation :errors="errors.voorafBetalingKwartaal4"></validation>
            </tax-shelter-result-row>
            <tax-shelter-result-row class="terugbetaalbarevoorheffing row"
                                    :results="response.terugbetaalbare_voorheffingen">
                <label for="terugbetaalbareVoorheffing">
                    Terugbetaalbare voorheffing
                </label>
                <input id="terugbetaalbareVoorheffing"
                       type="text" v-model="input.terugBetaalbareVoorHeffing"
                       :class="errorClassTS(errors.terugBetaalbareVoorHeffing)">
                <validation :errors="errors.terugBetaalbareVoorHeffing"></validation>
            </tax-shelter-result-row>
            <tax-shelter-result-row class="geraamdebelastingen row" :results="response.geraamde_belastingen_gewoon">
                Geraamde belastingen (gewoon):
            </tax-shelter-result-row>
            <tax-shelter-result-row class="regularisaties row" :results="response.regularisaties_bel_vorige_jaren">
                <label for="regularisatiesVorigeJaren">
                    Regularisaties vorige jaren (- opbr., + kost):
                </label>
                <input id="regularisatiesVorigeJaren"
                       type="text" v-model="input.regularisatiesVorigeJaren"
                       :class="errorClassTS(errors.regularisatiesVorigeJaren)">
                <validation :errors="errors.regularisatiesVorigeJaren"></validation>
            </tax-shelter-result-row>
            <tax-shelter-result-row class="belastingenliqres row" :results="response.belasting_liquidatie_reserve">
                Belastingen (Liq Res):
            </tax-shelter-result-row>
            <tax-shelter-result-row class="aanpassingeninmeer row" :results="response.aanpasingen_in_meer">
                Aanpassing in meer (belastingen):
            </tax-shelter-result-row>
            <tax-shelter-result-row class="nietaftrekbaretaxsheltercost row"
                                    :results="response.niet_aftrekbare_tax_shelter_kost">
                Niet-aftrekbare Tax-shelterkost:
            </tax-shelter-result-row>
        </table>

        <table class="eindresultaat table">
            <tax-shelter-result-row class="totalenietaftrekbarebelastingen row"
                                          :results="response.totale_niet_aftrekbare_belastingen">
                totale niet-aftrekbare belastingen
            </tax-shelter-result-row>
            <tax-shelter-result-row class="aangroeivandereserves row" :results="response.mutatie_van_de_reserves">
                aangroei van de reserves (1080PN)
            </tax-shelter-result-row>
            <tax-shelter-result-row class="winsverliesvanhetjaar row"
                                          :results="response.winst_verlies_van_het_boekjaar">
                <template v-if="response.winst_verlies_van_het_boekjaar.various === undefined">
                    resultaat van het boekjaar
                </template>
                <template v-else>
                {{ response.winst_verlies_van_het_boekjaar.various }} {{ response.winst_verlies_van_het_boekjaar.various < 0 ? 'verlies' : 'winst'}} van het boekjaar
                </template>
            </tax-shelter-result-row>
        </table>

        <button @click="calculate">Bereken</button>
    </form>
</template>
<script>
    import qs from 'qs'
    import validation from '../../../submodules/common/resources/js/components/ValidationComponent';
    import Input from '../../../submodules/tax-shelter/resources/js/databags/TaxShelterDatabag';
    import Response from '../../../submodules/tax-shelter/resources/js/databags/TaxShelterRamingResponse';
    import TaxShelterResultRow from './TaxShelterResultRow';
    import TaxShelterErrors from "../../../submodules/tax-shelter/resources/js/databags/TaxShelterErrors";

    export default {
        data() {
            return {
                input: new Input,
                result: false,
                response: new Response,
                error: false,
                errors: new TaxShelterErrors
            }
        },
        methods:
            {
                calculate(event) {
                    event.preventDefault();
                    this.result = false;
                    this.errors = new TaxShelterErrors;
                    this.$http.post(
                        '/calculator/tax_shelter',
                        this.input
                    )
                        .then((response) => {
                            this.result = true;
                            this.response = response.data.data;
                        })
                        .catch((error) => {
                            if (error.response.status === 422) {
                                this.errors = error.response.data.data;
                            }
                        });
                },
                errorClassTS(input) {
                    if (input == null) {
                        return ""
                    }
                    return "tax-shelter-input-error";
                },
            },
        name: "ramingtool",
        components: {
            validation,
            TaxShelterResultRow,
        }
    }
</script>

<style scoped>
    .table {
        border: 1px solid black;
        width: 100%;
    }

    .table td {
        border: 1px solid grey;
    }
</style>
