<template>
    <tr class="result-row row">
        <td class="description">
            Grondslag gewoon tarief
        </td>
        <td class="code">
            <output :name="name + '-various'" v-html="results.various"></output>
        </td>
        <td class="result-aanslag-berekeningen-en-belastingen">
            <output :name="name + '-aanslag-berekeningen-en-belastingen'" v-html="results.aanslag_berekenening_en_belastingen"></output>
        </td>
        <td class="result-c1080pn">
            <output :name="name + '-C1080PN'" v-html="results.C1080PN"></output>
        </td>
        <td class="result-c9905">
            <output :name="name + 'C9905'" v-html="results.C9905"></output>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "tax-shelter-result-row",
        props: ['results']
    }
</script>

<style scoped>

</style>
