<template>
    <div class="voordeelwagen-tool tool">

        <h1 class="tool__heading-1">Voordeelwagen</h1>
        <article class="voordeelwage-article" v-html="'placeholder for article'"></article>
        <fieldset id="kenmerken" class="kenmerken">
            <legend class="tool__legend">Kenmerken van de wagen</legend>

            <div class="tool-row">

                <label class="tool-row__label">Kies type motor</label>
                <select class="brandstof" v-model="input.brandstof">
                    <option value="BENZINE" selected="selected">Benzine</option>
                    <option value="CNG_MIN_12PK">CNG < 12pk</option>
                    <option value="CNG_PLUS_12PK">CNG >= 12pk</option>
                    <option value="DIESEL">Diesel</option>
                    <option value="LPG">LPG</option>
                    <option value="HYBRIDE_BENZINE">Hybride - benzine</option>
                    <option value="HYBRIDE_DIESEL">Hybride - diesel</option>
                    <option value="HYBRIDE_CNG_MIN_12PK">Hybride - CNG < 12pk</option>
                    <option value="HYBRIDE_CNG_PLUS_12PK">Hybride - CNG >= 12pk</option>
                    <option value="HYBRIDE_LPG">Hybride - LPG</option>
                    <option value="ELEKTRISCH">Elektrisch</option>
                </select>
            </div>

            <div :class="errors.jaarAankoopLeaseOfRenting ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="CO2uitstoot">Jaar van aankoop, leasing of renting:</label>
                <input class="tool-row__input-text" id="jaarAankoopLeaseOfRenting" type="text"
                       v-model="input.jaarAankoopLeaseOfRenting">
            </div>
            <validation :errors="errors.jaarAankoopLeaseOfRenting"></validation>

            <div class="tool-row" v-if="isHybride">
                <label for="isValseHybride" v-html="'Valse plug-in hybridewagen?'"></label>
                <input class="tool-row__input-text" type="checkbox" id="isValseHybride" v-model="input.isValseHybride">
            </div>

            <div :class="errors.co2uitstoot ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="CO2uitstoot">CO2-uitstoot</label>
                <input class="tool-row__input-text" id="CO2uitstoot" type="text" v-model="input.co2uitstoot">
            </div>
            <validation :errors="errors.co2uitstoot"></validation>

            <template v-if="input.isValseHybride && isHybride">
                <div :class="errors.effectieveCO2ValseHybride ? 'voordeelWagen-input-error' : 'tool-row'">
                    <label class="tool-row__label" for="effectieveCO2ValseHybride">Effectieve CO2 uitstoot valse
                        hybride</label>
                    <input class="tool-row__input-text" id="effectieveCO2ValseHybride" type="text"
                           v-model="input.effectieveCO2ValseHybride">
                </div>
                <validation :errors="errors.effectieveCO2ValseHybride"></validation>
            </template>

            <div :class="errors.eersteInschrijvingDIV ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="eersteInschrijvingDIV">Eerste inschrijven DIV</label>
                <input class="tool-row__input-text" id="eersteInschrijvingDIV" type="date"
                       v-model="input.eersteInschrijvingDIV">
            </div>
            <validation :errors="errors.eersteInschrijvingDIV"></validation>

        </fieldset>
        <fieldset id="periode">
            <legend class="tool__legend">Periode berekening voordeel</legend>
            <div :class="errors.beginDatumVAA ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="beginDatumVAA">Begindatum VAA</label>
                <input class="tool-row__input-text" id="beginDatumVAA" type="date" v-model="input.beginDatumVAA"
                       :onchange="check()">
            </div>
            <validation :errors="errors.beginDatumVAA"></validation>

            <div :class="errors.eindDatumVAA ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="eindDatumVAA">Einddatum VAA</label>
                <input class="tool-row__input-text" id="eindDatumVAA" type="date" v-model="input.eindDatumVAA"
                       :onchange="check()">
            </div>
            <validation :errors="errors.eindDatumVAA"></validation>
        </fieldset>
        <fieldset class="catalogus-waarde-ingave">
            <legend class="tool__legend">Berekening cataloguswaarde</legend>

            <div :class="errors.catalogusPrijsVoorKorting ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="catalogusPrijsVoorKorting">Catalogusprijs voor enige korting</label>
                <input class="tool-row__input-text" id="catalogusPrijsVoorKorting" type="text"
                       v-model="input.catalogusPrijsVoorKorting">
            </div>
            <validation :errors="errors.catalogusPrijsVoorKorting"></validation>

            <div :class="errors.opties ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="opties">opties</label>
                <input class="tool-row__input-text" id="opties" type="text" v-model="input.opties">
            </div>
            <validation :errors="errors.opties"></validation>

            <div :class="errors.werkelijkBetaaldeBTW ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="werkelijkBetaaldeBTW">Werkelijk betaalde BTW</label>
                <input class="tool-row__input-text" id="werkelijkBetaaldeBTW" type="text"
                       v-model="input.werkelijkBetaaldeBTW">
            </div>
            <validation :errors="errors.werkelijkBetaaldeBTW"></validation>

            <div :class="errors.kortingConstructeur ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="kortingConstructeur">Korting constructeur/invoerder</label>
                <input class="tool-row__input-text" id="kortingConstructeur" type="text"
                       v-model="input.kortingConstructeur">
            </div>
            <validation :errors="errors.kortingConstructeur"></validation>

            <div :class="errors.aanvangsdatumBoekjaar ? 'voordeelWagen-input-error' : 'tool-row'">
                <label class="tool-row__label" for="aanvangsdatumBoekjaar">Aanvastdatum boekjaar</label>
                <input class="tool-row__input-text" id="aanvangsdatumBoekjaar" type="date"
                       v-model="input.aanvangsdatumBoekjaar">
            </div>
            <validation :errors="errors.aanvangsdatumBoekjaar"></validation>
        </fieldset>
        <fieldset class="eigenInbreng">
            <legend class="tool__legend">Eigen inbreng</legend>
            <table class="eigen-inbreng-table">
                <tr class="eigen-inbreng-row">
                    <td class="eigen-inbreng-cell">
                        <div class="eigenInbreng-div" v-for="key in years" v-if="years.length > 0">
                            <label for="key" v-html="'Eigen inbreng '+ getYear(key)"></label>
                            <input id="key" class="tool-row__input-text" v-model="eigenInbrengyears[key]">
                        </div>
                    </td>
                    <td>
                        <div class="tankkaart" v-for="value in tankKaartYearsKeys">
                            <label for="value" v-html="'Wagen met tankkaart'"></label>
                            <input id="value" class="tool-row__input-text" type="checkbox"
                                   v-model="tankKaartYears[value]">
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>

        <button @click="calculate">Calculate</button>
        <div class="calculation-warning__recalculate" v-if="!change && result"
             v-html="'Opgepast, input is gewijzigd! Opnieuw berekenen aub'"></div>
        <div class="yearForm" v-for="(item,key) in output" v-if="isYear(key)">
            <table class="table-result">
                <tr class="result-row">
                    <th class="response table header" v-html="'Inkomstjaar ' + key" v-if="isYear(key)"></th>
                    <th></th>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.ouderdom" v-if="index === 'stage1'">
                    <td class="response-description" v-html="value.ouderdom"></td>
                    <td class="response-value"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.stages" v-if="index === 'stage1'">
                    <td class="response-description" v-html="value.calculationStringStage1"></td>
                    <td class="response-value" v-html="value.resultStage1"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.ouderdom" v-if="index === 'stage2'">
                    <td class="response-description" v-html="value.ouderdom"></td>
                    <td class="response-value"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.stages"
                    v-if="value.calculationStringStage2 !== '' && index === 'stage2'">
                    <td class="response-description" v-html="value.calculationStringStage2"></td>
                    <td class="response-value" v-html="value.resultStage2"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.voordeelAlleAard" v-if="index === 'minAmountInfo'">
                    <td class="response-description" v-html="value.minAmountString"></td>
                    <td class="response-value" v-html="value.minAmount"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.voordeelAlleAard"
                    v-if="index === 'forfaitairVoordeel'">
                    <td class="response-description" v-html="'Forfaitair voordeel'"></td>
                    <td class="response-value" v-html="value"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.voordeelAlleAard" v-if="index === 'eigenBijdrage'">
                    <td class="response-description" v-html="'Eigen bijdrage'"></td>
                    <td class="response-value" v-html="value"></td>
                </tr>
                <tr class="result-row" v-for="(value,index) in item.voordeelAlleAard"
                    v-if="index === 'voordelenAlleAard'">
                    <td class="response-description" v-html="'Voordeel alle aard op fiche'"></td>
                    <td class="response-value" v-html="value"></td>
                </tr>
                <tr class="result-row">
                    <td class="response-description" v-html="'Op te nemen in de code 1206 (aangifte VenB):'"></td>
                    <td class="response-value"></td>
                </tr>
                <tr class="result-row" v-for="value in item.vennootschapsInfo">
                    <td class="response-description" v-html="value.grondslag + ' x ' + value.tarief + ' = '"></td>
                    <td class="response-value" v-html="value.c1206"></td>
                </tr>
            </table>
        </div>
        <div class="response total" v-if="result">
            <table class="response-table-total">
                <tr class="result-row">
                    <td class="response-description"
                        v-html="'Totaal voor de periode van ' + input.beginDatumVAA  + ' tot ' +  input.eindDatumVAA"></td>
                    <td class="response-value"></td>
                </tr>
                <tr class="result-row">
                    <td class="response-description" v-html="'Voordeel alle aard'"></td>
                    <td class="response-value" v-html="output.totaleVoordelenAlleAard"></td>
                </tr>
                <tr class="result-row">
                    <td class="response-description" v-html="'Op te nemen in de code 1206 (aangifte BenB):'"></td>
                    <td class="response-value" v-html="output.verworpenUitgave1206"></td>
                </tr>
            </table>
        </div>
        <div class="response gramformule" v-if="result">
            <table class="response-table-total">
                <tr class="result-row">
                    <td class="gramformule-description"
                        v-html="'Gramformule'"></td>
                    <td class="gramformule-formule" v-html="'120 - ( 0,5 &times; ' + gramformule.actualCo2 + ' &times; ' + gramformule.modifier"></td>
                    <td class="gramformule-value" v-html="gramformule.resultPercentage"></td>
                </tr>
                <tr class="result-row">
                    <td  class="gramformule-description"></td>
                    <td class="response-value" v-html="'minimum ' +gramformule.minimumValue + ' en maximum ' + gramformule.maximumValue"></td>
                    <td class="gramformule-value"></td>
                </tr>
            </table>
        </div>
        <div class="response aftrekbare-car-costs" v-if="result">
            <table class="response-table-total">
                <tr>
                    <th v-html="'Aftrekbare autokosten'"></th>
                    <th v-html="'elektriciteit'"></th>
                    <th v-html="'andere'"></th>
                </tr>
                <tr v-for="row in output.aftrekbareAutokosten">
                    <td v-html="row.autokostenString"></td>
                    <td v-html="row.brandstofPercentage"></td>
                    <td v-html="row.anderePercentage"></td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script>
    import qs from 'query-string';
    import Validation from '../../../submodules/common/resources/js/components/ValidationComponent';
    import VoordeelwagenDatabag from "../../databags/VoordeelWagenDatabag";
    import EigenBijdrage from "./EigenBijdrage";
    import LocaleChanger from "../../../submodules/common/resources/js/components/LocaleChanger";

    export default {
        name: 'voordeelWagen',
        components: { LocaleChanger, EigenBijdrage, Validation},
        data() {
            return {
                years: [],
                tankKaartYearsKeys: [],
                eigenInbrengyears: {},
                tankKaartYears: {},
                input: new VoordeelwagenDatabag,
                prev: new VoordeelwagenDatabag,
                result: false,
                error: false,
                errors: {},
                output: null,
                start: undefined,
                end: undefined,
                gramformule : undefined
            }
        },
        methods: {
            isYear(string) {
                return /^\d+$/.test(string);
            },
            getYear(string) {
                return string.replace(/\D/g, '');
            },
            check() {
                let beginDate = new Date(this.input.beginDatumVAA);
                if (!(beginDate.getFullYear() < 2012)) {
                    if (this.input.beginDatumVAA !== this.start || this.input.eindDatumVAA !== this.end) {
                        this.diff_years()
                    }
                }
            },
            diff_years() {
                this.years = [];
                this.tankKaartYearsKeys = [];
                let startYear = new Date(this.input.beginDatumVAA).getFullYear();
                let endYear = new Date(this.input.eindDatumVAA).getFullYear();

                for (let i = startYear; i <= endYear; i++) {
                    this.years.push("eigenBijdrage" + i);
                    this.tankKaartYearsKeys.push("wagenMetTankKaart" + i);
                }
                this.start = this.input.beginDatumVAA;
                this.end = this.input.eindDatumVAA;
            },
            calculate() {
                this.result = false;
                this.errors = {};

                // TODO write this better, duplicate code
                for (let key in this.eigenInbrengyears) {
                    // check if the property/key is defined in the object itself, not in parent
                    if (this.eigenInbrengyears.hasOwnProperty(key)) {
                        this.input[key] = this.eigenInbrengyears[key];
                    }
                }
                for (let value in this.tankKaartYears) {
                    // check if the property/key is defined in the object itself, not in parent
                    if (this.tankKaartYears.hasOwnProperty(value)) {
                        this.input[value] = this.tankKaartYears[value];
                    }
                }
                this.$http.post('/calculator/voordeelwagen', qs.stringify(this.input),
                    {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    })
                    .then((response) => {
                        this.output = response.data.data;
                        this.prev = VoordeelwagenDatabag.copy(this.input);
                        this.gramformule =  response.data.data.gramformule;
                        this.result = true;
                    })
                    .catch((error) => {
                        if (error.response && error.response.status === 422) {
                            this.errors = response.data.data;
                            document.querySelectorAll('input').forEach((element) => {
                                if (this.errors[element.id] !== undefined) {
                                    this.$nextTick(() => element.scrollIntoView({block: 'start', behavior: 'smooth'}));
                                }
                            });
                        } else {
                            throw error;
                        }
                    })
            }
        },
        comments: {
            Validation
        },
        computed: {
            change: function () {
                return this.input.equals(this.prev);
            },
            isHybride: function() {
                return this.input.brandstof.indexOf('HYBRIDE') !== -1;
            }
        }
    }

</script>

<style lang="scss">
    $practinet-gray-94: #EFEFEF;
    $practinet-btn-blue: #2d4d96;
    /*
    ----------------------
     specific voordeelwagen tool styling
    ----------------------
    */
    .voordeelwagen-tool.tool {

        .tool-row {
            &__label {
                display: inline-block;
                text-align: right;
                max-width: 450px;
                width: 50%;
                cursor: pointer;
                margin-top: 6px;
                position: relative;
                margin-right: 18px;

                @media only screen and (max-width: 860px) {
                    margin-top: 0;
                    width: 100%;
                    margin-right: 0;
                }
            }
        }

    }

    /*
    ----------------------
    tool general
    ----------------------
    */
    .tool {
        width: 1120px;
        margin: 0 auto 150px auto;
        position: relative;

        @media only screen and (max-width: 1200px) {
            width: calc(100% - 40px);
            padding: 0;
            box-sizing: border-box;
        }
    }

    .tool-row {
        margin-bottom: 20px;
        display: flex;

        .kpm_input-field-button {
            display: none;
        }

        &__label {
            display: inline-block;
            text-align: left;
            margin-right: 5px;
            width: 500px;
            cursor: pointer;
            margin-top: 6px;
            position: relative;

            @media only screen and (max-width: 860px) {
                margin-top: 0;
                width: 100%;
                margin-right: 0;
            }
        }

        // tool-row__input-text input type="text"
        &__input-text {
            background: $practinet-input-bg;
            border-radius: $practinet-input-border-radius;
            color: $practinet-input-c;
            height: 34px;
            line-height: 34px;
            padding: 0 18px;
            font-size: 15px;
            border: 1px solid transparent;
            text-align: right;
            box-sizing: border-box;

            @media only screen and (max-width: 520px) {
                width: 100%;
                box-sizing: border-box;
            }

            &:hover {
                background: $practinet-input-active-bg;
                border: 1px solid #f0f1f4;
            }

            &:focus,
            &:active {
                border: 1px solid $practinet-input-active-border-c;
                background: white;
            }
        }

        // tool-row__input-radio radiobutton
        &__input-radio {
            position: relative;
            top: 8px;
            height: 20px;

            + label {
                width: auto;
            }
        }

        // tool-row__input-checkbox radiobutton
        &__input-checkbox {
            position: relative;
            top: 8px;
            height: 20px;

            + label {
                width: auto;
            }
        }

        &__code {
            width: 60px;
            margin-top: 6px;
            display: inline-block;
            text-align: right;
            max-width: 450px;
            margin-right: 18px;
            white-space: nowrap;
        }
    }

    /*
    ----------------------
    reset blue hightlight
    ----------------------
    */
    textarea,
    select,
    input,
    button {
        outline: none;
    }

    .tool {

        fieldset {
            margin: 0 0 30px 0;
            padding: 0;
            border: 0;
            @media only screen and (max-width: 520px) {
                margin-bottom: 10px;
            }

            &:last-of-type {
                border-bottom: 1px solid $practinet-gray-90;
                padding-bottom: 30px;
                @media only screen and (max-width: 860px) {
                    margin-bottom: 40px;
                    padding-bottom: 0;
                }
            }

            // codes
            .code-description {
                width: 60px;
                margin-top: 6px;
            }

        }

        input[type="checkbox"],
        input[type="radio"] {
            position: relative;
            top: 8px;
            height: 20px;

            + label {
                width: auto;
            }
        }

        // button
        button {
            font-size: 14px;
            text-transform: uppercase;
            line-height: 38px;
            height: 38px;
            border-radius: 50px;
            padding: 0 40px;
            background: $practinet-btn-main-bg;
            color: $practinet-c-white;
            display: flex;
            cursor: pointer;
            margin: 0 auto 0 auto;
            width: 185px;
            text-align: center;
            justify-content: center;
            border: none;

            @media only screen and (max-width: 520px) {
                width: 100%;
            }
        }

        div#gewoneAanslagen {
            display: flex;
        }

        /*
        ----------------------
        custom to tool
        ----------------------
        */
        .table-total {
            h3 {
                margin: 0;
            }
        }

        .geen-vermeerdering-indien {
            margin-top: 40px;
        }

        td.no-border {
            border: none;
        }

        table.highlight {
            margin: 40px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            @media only screen and (max-width: 860px) {
                td {
                    &.result-row__total.no-border {
                        text-align: right;
                    }
                }
            }

            h3 {
                margin: 10px 20px 10px 0;
            }

            .total {
                padding-right: 0;
            }
        }

        // verrekenbare-voorheffing-totaal
        table.verrekenbare-voorheffing-totaal {
            width: 100%;

            td {
                &.no-border {
                    border: none;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .verrekenbare-voorheffing-totaal {
            margin-bottom: 40px;
        }

        select#aantalkwartalen {
            width: 80px;
            background: $practinet-c-white;
            height: 36px;
            line-height: 36px;
        }

        /*
        ----------------------
        errors
        ----------------------
        */
        .venb {
            .errors {
                position: relative;
                top: -10px;
                text-align: right;
                width: 770px;
                padding: 0;
                margin: 0;

                .error-item {
                    &:before {
                        display: none;
                    }
                }

                @media only screen and (max-width: 860px) {
                    width: calc(100% - 65px);
                    margin-left: 65px;
                    text-align: left;
                    top: -5px;

                }

                &:before {
                    display: none;
                }
            }
        }

        /*
        ----------------------
         button erase float right in tool
        ----------------------
        */
        .venb {
            .btn--erase {
                float: right;

                @media only screen and (max-width: 520px) {
                    width: auto;
                }
            }
        }

        /*
        ----------------------
        venb mobile styles
        ----------------------
        */
        // labels mobile
        .venb {
            .results {
                @media only screen and (max-width: 860px) {

                }
            }

            .tool-row {
                flex-wrap: wrap;
                @media only screen and (max-width: 860px) {

                    .tool-row__label {
                        width: 100%;
                        font-weight: 500;
                        margin-bottom: 15px;
                        line-height: 1.45;
                    }
                    .tool-row__code {
                        text-align: left;
                        margin-right: 5px;
                        white-space: nowrap;
                    }
                    .tool-row__input-text {
                        width: calc(100% - 65px);
                    }
                }
            }
        }

    }

    /*
----------------------
tool elements
----------------------
*/
    .tool {

        .btn--outline {
            color: $practinet-btn-blue;
            border: 2px solid $practinet-btn-blue;
            background: $practinet-c-white;
        }

        &__heading-1 {
            font-size: 30px;
            font-weight: 400;
            color: $practinet-title-main;
            margin-top: 80px;
            margin-bottom: 40px;
        }

        // tool_heading-2
        &__heading-2 {
            color: $practinet-btn-main-bg;
            font-weight: 300;
            font-size: 25px;
            display: inline-block;
        }

        // tool_legend
        &__legend {
            display: block;
            width: 100%;
            font-size: 18px;
            color: $practinet-legend-c;
            font-weight: 500;
            padding-top: 25px;
            border-top: 1px solid $practinet-legend-border-c;
            margin-bottom: 20px;

            @media only screen and (max-width: 520px) {
                padding-top: 30px;
                margin-bottom: 30px;
                font-size: 20px;
            }
        }

        // tool_label--required
        &__label--required {

            // required field asterisk
            &:after {
                content: "*";
                margin-left: 3px;
                color: $practinet-c-red;
            }
        }

        // buttons
        .btn--outline {
            background: white;
            color: $practinet-btn-blue;
            border: 2px solid $practinet-btn-blue;
        }

        /*
        ----------------------
        tool-row wraps elements
        ----------------------
        */

        .tool-row {
            margin-bottom: 20px;
            display: flex;

            .kpm_input-field-button {
                display: none;
            }

            &__label {
                display: inline-block;
                text-align: left;
                margin-right: 5px;
                width: 500px;
                cursor: pointer;
                margin-top: 6px;
                position: relative;

                @media only screen and (max-width: 860px) {
                    margin-top: 0;
                    width: 100%;
                    margin-right: 0;
                }

            }

            select {
                background: #fff;
                height: 36px;
                line-height: 36px;
            }

            // tool-row__input-text input type="text"
            &__input-text {
                background: $practinet-input-bg;
                border-radius: $practinet-input-border-radius;
                color: $practinet-input-c;
                height: 34px;
                line-height: 34px;
                padding: 0 18px;
                font-size: 15px;
                border: 1px solid transparent;
                text-align: right;
                box-sizing: border-box;

                @media only screen and (max-width: 520px) {
                    width: 100%;
                    box-sizing: border-box;
                }

                &:hover {
                    background: $practinet-input-active-bg;
                    border: 1px solid #f0f1f4;
                }

                &:focus,
                &:active {
                    border: 1px solid $practinet-input-active-border-c;
                    background: white;
                }
            }

            // tool-row__input-radio radiobutton
            &__input-radio {
                position: relative;
                top: 8px;
                height: 20px;

                + label {
                    width: auto;
                }
            }

            // tool-row__input-checkbox radiobutton
            &__input-checkbox {
                position: relative;
                top: 8px;
                height: 20px;

                + label {
                    width: auto;
                }
            }

            &__code {
                width: 60px;
                margin-top: 6px;
                display: inline-block;
                text-align: right;
                max-width: 450px;
                margin-right: 18px;
                white-space: nowrap;
            }
        }

        /*
        ----------------------
        calculation warning after button "Bereken "
        ----------------------
        */
        .calculation-warning__recalculate {
            max-width: 900px;
            padding: 40px 60px 40px 60px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            border: 1px solid #efe4cc;
            margin-top: 40px;
            margin-bottom: 40px;
            background: #fdf5e2;
            @media only screen and (max-width: 860px) {
                padding: 20px 20px 20px 20px;
                text-align: center;
            }

        }

        /*
        ----------------------
        result table
        ----------------------
        */

        .results {
            max-width: 900px;
            padding: 20px 60px 60px 60px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
            border: 1px solid #f0f0f0;
            margin-top: 40px;

            @media only screen and (max-width: 860px) {
                padding: 0;
                border: none;
                box-shadow: none;
            }

            &__heading-2 {
                font-weight: 300;
                margin-bottom: 45px;
                text-align: left;
                color: $practinet-btn-main-bg;
                border-bottom: 2px solid $practinet-gray-90;
                padding-bottom: 15px;
                font-size: 30px;
                display: block;
            }

            &__heading-3 {
                color: $practinet-title-main;
                font-weight: 500;
            }

            &__hr {
                height: 1px;
                background: $practinet-gray-90;
                width: 100%;
                border: none;
                margin-bottom: 40px;
            }
        }

        /*
        ----------------------
        results row
        ----------------------
        */

        .result-row {

            &__description {
                width: 350px;
                display: table-cell;
            }

            &__code {
                text-align: right;
                padding-left: 10px;
                padding-right: 10px;
                width: 60px;
                @media only screen and (max-width: 860px) {
                    white-space: nowrap;
                }
            }

            &__amount {
                padding-left: 10px;
                padding-right: 10px;
                text-align: right;
                width: 100px;

            }

            &__operation {
                width: 10px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }

            &__percentage {
                width: 65px;
                text-align: right;
                padding-left: 0;
                padding-right: 10px;
            }

            &__equal {
                width: 10px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }

            &__result {
                text-align: right;
                padding: 0;
                width: 100px;
            }

            &__total {
                text-align: right;
                padding: 0;
                width: 100px;
                font-weight: bold;
                border-top: 2px solid $practinet-btn-main-bg;
                color: $practinet-btn-main-bg;
                position: relative;
                padding-top: 10px;
                padding-bottom: 10px;

                &:before {
                    content: "";
                    position: absolute;
                    background: $practinet-btn-main-bg;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    top: -3px;
                    display: inline-block;
                }

                // modifier amount to result 1 px border top result in combination with amount

                &--not-end-dark {
                    border-top: 1px solid $practinet-c-main;
                    color: $practinet-c-main;
                    padding: 10px;
                    font-weight: bold;

                    &:before {
                        display: none;
                    }
                }

            }
        }

        .gewoneAanslagen-header {
            h3 {
                margin-top: 0;
            }
        }

        td {
            padding: 6px 0;
            /* border-bottom: 1px solid $practinet-gray-90;*/
        }

        /*
        ----------------------
        utilities
        ----------------------
        */

        .u-no-border {
            border: none;

            &:before {
                display: none;
            }
        }

        %u-border-top {
            border-top: 1px solid $practinet-legend-border-c;
        }

        /*
        ----------------------
        VENB 2019 OLD
        ----------------------
        */
        .venb-2019-old {
            .gecorrigeerde-grondslag-gewoon-tarief-nieuw {
                td {
                    font-weight: bold;
                }
            }

            // extra witruimte - padding
            .gecorrigeerde-grondslag-gewoon-tarief---oud {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            [class*="meerwaarden-op-aandelen-tegen-25%-oud"] {
                td {
                    font-weight: bold;
                }
            }

            // extra witruimte - padding
            [class*="meerwaarden-op-aandelen-tegen-20%-nieuw"] {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            [class*="meerwaarden-op-aandelen-tegen-25%-nieuw"] {
                td {
                    font-weight: bold;
                }
            }

            // extra witruimte - padding
            [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"] {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-nieuw"] {
                td {
                    font-weight: bold;
                }
            }

            [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-oud"] {
                td {
                    padding-bottom: 0;
                    font-weight: bold;
                }
            }

            // extra witruimte - padding
            [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"] {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            [class*="gecorrigeerde-grondslag-gewoon-tarief-oud"] {
                td {
                    font-weight: bold;
                }
            }

            // extra witruimte - padding
            [class*="gecorrigeerde-grondslag-gewoon-tarief---nieuw"] {
                td {
                    font-weight: bold;
                    padding-bottom: 40px;
                }
            }

            // lijntjes toevoegen totalen correcties 2019 nieuw
            [class*="totale-gewone-grondslag"],
            [class*="gecorrigeerde-grondslag-gewoon-tarief-oud"],
            [class*="totale-grondslag-meerwaarden-op-aandelen-25%"],
            [class*="meerwaarden-op-aandelen-tegen-25%-oud"],
            [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"],
            [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-oud"] {
                .result-row__amount {
                    border-top: 1px solid $practinet-c-main;
                }
            }
        }

        /*
        ----------------------
        VENB 2019 NIEUW
        ----------------------
        */

        .venb-2019-new {
            .gecorrigeerde-grondslag-gewoon-tarief-nieuw {
                td {
                    font-weight: bold;
                }
            }

            .gecorrigeerde-grondslag-gewoon-tarief---oud {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            [class*="meerwaarden-op-aandelen-tegen-25%-nieuw"] {
                td {
                    font-weight: bold;
                }
            }

            [class*="meerwaarden-op-aandelen-tegen-20%-nieuw"] {
                td {
                    font-weight: bold;
                }
            }

            [class*="meerwaarden-op-aandelen-tegen-25%-oud"] {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            // extra witruimte - padding
            [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"] {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-nieuw"] {
                td {
                    font-weight: bold;
                }
            }

            [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-oud"] {
                td {
                    padding-bottom: 40px;
                    font-weight: bold;
                }
            }

            // lijntjes toevoegen totalen correcties 2019 nieuw
            [class*="totale-gewone-grondslag"],
            [class*="gecorrigeerde-grondslag-gewoon-tarief-nieuw"],
            [class*="totale-grondslag-meerwaarden-op-aandelen-25%"],
            [class*="meerwaarden-op-aandelen-tegen-25%-nieuw"],
            [class*="meerwaarden-op-aandelen-tegen-0,4%-oud"],
            [class*="belastbaar-tegen-het-exit-tax-tarief-van-12,5%-nieuw"] {
                .result-row__amount {
                    border-top: 1px solid $practinet-c-main;
                }
            }

        }

        .total {

            &.no-border {
                border: none;

                &:before {
                    display: none;
                }
            }
        }

        td.no-border {
            border: none;

            &:before {
                display: none;
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;

            // table
            &.geen-vermeerdering {
                margin-bottom: 20px;
                width: auto;

                td {
                    &.result-row__description {
                        width: auto;
                        border: none;
                        line-height: 1;
                        padding-right: 5px;
                    }

                    &.result-row__result {
                        padding: 6px 0;
                        border: none;
                        line-height: 1;
                        text-align: left;
                    }
                }

                &:after {
                    display: block;
                    height: 1px;
                    content: "";
                    clear: both;
                    width: 100%;
                    position: static;
                }

                .result {
                    margin-right: 10px;
                    display: inline-block;
                    float: left;
                }
            }

        }

        /*
        ------------------------------
        opsplitsen van data block 1 Algemeen Tarief
        ------------------------------
        */

        .wrapper-algemeen {

            > div:first-child {
                margin-bottom: 20px;
            }

            > div:last-child {
                margin-bottom: 20px;
            }

            .tool-row {
                margin-bottom: 0;

            }
        }

        /*
        ------------------------------
        opsplitsen van data block 2 -  Voorafbetalingen
        ------------------------------
        */

        .isStartendKMO {
            margin-bottom: 20px;

            .tool-row {
                margin-bottom: 0;
            }
        }
    }


</style>